/* Body styles and styles that apply to more than one section */

body {
    background: #e3e3e4;
}

/* Font and font-related styles */

/* Headings using Audiowide Font */

h1, h2, h3, {
    font-family:'Audiowide', cursive;
{

 p {
     font-family:  'Open Sans', sans-serif;
    }


@media only screen and (max-width: 768px) {
    img.hero-image-gabe {
      max-width: 80%;
    }

  }
