/* Body styles and styles that apply to more than one section */

body {
    background: #e3e3e4;
}

/* Font and font-related styles */

/* Hero section h1 font */

.audio {
    font-family:'Audiowide', cursive;
{



@media only screen and (max-width: 768px) {
    img.hero-image-gabe {
      max-width: 80%;
    }

  }
