/* Body styles and styles that apply to more than one section */

body {
    background: #e3e3e4;
}

/* Font and font-related styles */

/* Headings using Audiowide Font */

h1, h2, h3 {
    font-family:'Audiowide', cursive;
}

 p {
     font-family:  'Open Sans', sans-serif;
    }

/* 1. Hero/Header section */

#hero {
    height: 100vh;
    }
    
@media only screen and (max-width: 768px) {
    img.hero-image-gabe {
      max-width: 80%;
    }

  }
    
/* 2. About me section */
    
/* 3. Portfolio/Work section */
    
/* 4. Tools I use section */
  
/* 5. Contact me section */
    
/* 1. Footer */




